footer{
    background-color: var(--secondary-color);
    padding-inline: var(--padding-classic);
    padding-block: calc(var(--gap-small)/1.25);
    display: grid;
    gap: calc(var(--gap-small)/1.25);
    grid-template-columns: max-content auto;
    justify-content: space-between;
    /* grid-template: subgrid; */
}

#all_rights{
    color: var(--primary-color);
    opacity: 0.3;
}

.nav_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-small);
    max-width: max-content;
    min-width: 0;
}

.logo_footer{
    width: auto;
}

.logo_footer > img{
width: 155px;
}

@media screen and (max-width: 800px){
    footer{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;
        /* gap: var(--gap-small); */
    }

    .nav_footer{
        display: none;
    }

    
}