.header_container{
    display: grid;
    background-color: var(--secondary-color);
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    width: 100%;
    padding-block: 2%;
    padding-inline: var(--padding-classic);
}

.header_container .social_links{
    display: flex;
    position: relative;
    justify-content: end;
}

.social_links a{
    margin-left: 20px;
}

.social_links a  img{
    height: 40px;
    
}
/* .social_links a:nth-of-type(2) img{
    height: 70%;
} */

.header_container .logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 150px;
}


.navigation{
    display: flex;
    justify-content: start;
    position: relative;
    overflow: hidden;
    align-items: center;
    height: 100%;
}

.burger_icon{
    display: none;
}


@media screen and (max-width: 800px){

    .header_container{
        grid-template-columns: repeat(2, min-content);
        justify-content: space-between;
    }

    .header_container .social_links{
        gap: var(--gap-small);
        flex-direction: column;
        align-items: center;
    }

    .social_links a{
        margin: 0;
    }

    .header_container .logo{
        width: max-content;
    } 
}