.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  
}

.center {
  justify-content: center;
  align-items: center;
}
.text-center{
  text-align: center;

}
.gap-tall {
  gap: var(--gap-tall);
}
.gap-small {
  gap: var(--gap-small);
}

.banner-box {
  padding: var(--padding-classic);
  box-sizing: border-box;
  gap: var(--gap-medium);
  height: min-content;
  background-color: rgb(77, 32, 0);
  color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-box .deal-menu {
width: 100%;
display: flex;
flex-direction: row;
}

.banner-box > h2 {
  font-family: var(--font-h);
  font-size: var(--font-size-medium);
  text-align: center;
}
.deal-item > img {
  width: 100%;
}
.deal-item p {
  font-weight: 100;
}

.description_menu {
  width: 80%;
}

.deal-item:nth-of-type(2) {
  flex-direction: column-reverse;
}

.menu-wrapper {
  padding: var(--padding-classic);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow-x: scroll;
  gap: var(--gap-medium);
  padding: 0;
}
.menu-wrapper > *{
 padding-inline: var(--padding-classic);
}

.switch-category-slider{
  width: 100%;
  justify-content: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto 90% auto;
  align-items: center;
  position: relative;
  height: min-content;

}

.switch-category-slider > button{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  height: 60%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.switch-category-slider > button:first-child{
  background-image: url("/public/icons/left-arrow.svg");
}

.switch-category-slider > button:last-child{
  background-image: url("/public/icons/right-arrow.svg");
} 

.switch-category{
  /* width: 90%; */
  padding: 0;
  justify-content: space-between;
  gap: var(--gap-small);
  flex-wrap: nowrap;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

}
.switch-category::-webkit-scrollbar{
  display: none;
}


.switch-category button{
  font-size: 22px;
  flex: 0 0 auto; 
  width: max-content;
  padding: 0;
  padding-right: var(--gap-tall);
  color: var(--action-color);
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

}
.switch-category button:focus, .switch-category button:hover{
    color: var(--secondary-color);

}
.switch-category > button:not(:last-child)::after{
  content: '';
height: 70%;
width: 2px;
background-color: var(--action-color);
position: absolute;
top: 50%;
transform: translate(0, -50%) rotate(15deg);
right: 10%;
z-index: 5;
}

.content-wrapper-slider{
  width: 100%;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: var(--padding-classic);
}

.content-wrapper-slider > button:first-child{
  background-image: url("/public/icons/left-arrow.svg");
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  height: 20%;
  opacity: 0.5;
  top: 50%; /* Позиціонуємо посередині */
  left: 0;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
}
.content-wrapper-slider > button:last-child{
  background-image: url("/public/icons/right-arrow.svg");
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  height: 20%;
  opacity: 0.5;
  top: 50%; /* Позиціонуємо посередині */
  right: 0;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
}

.content-wrapper-slider::-webkit-scrollbar{
  display: none;
}


.content-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

}
.content-wrapper>div{
  flex: 0 0 calc(100% / 3); 
  min-width: min-content;
  padding: 0 0 var(--gap-small) 0;
  padding-right: var(--gap-tall);

  position: relative;
}


.content-wrapper >div::after{
  content: '';
  height: 100%;
  width: 2px;
  background-color: var(--secondary-color);
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: var(--gap-small);
}


.title-menu{
  font-family: var(--font-h);
  font-size: var(--font-size-medium);
  padding-top: var(--padding-classic);
}


.items-product{
  justify-content: space-between;
  
}
.items-product>:first-child{
flex: 1;
}

.items-product>:last-child{
flex: 0 0 max-content;
}
@media screen and (min-width: 1200px){
  .content-wrapper>div{
    flex: 0 0 calc(100% / 4); 
  }
}
@media screen and (max-width: 800px){
  .banner-box .deal-menu {
flex-direction: column;
gap: var(--gap-liquid);
  }
  .banner-box > h2 {
    font-size: var(--font-liquid-big);
    text-align:start;
  }

  .deal-item:nth-of-type(2) {
    flex-direction: column;
  }
  
  .deal-item > img {
    width: 70%;
  }
  .title-menu{
    font-size: var(--font-liquid-big);
    text-align: start;
   
  }

  .content-wrapper{
    flex-direction: column;
  }
  .content-wrapper> div{
    flex: 0 0 auto; 
    width: 100%;
    padding: 0;
    padding-bottom: var(--gap-tall);
    gap: 0;
  }
  .content-wrapper>div h2{
    margin-bottom: var(--gap-small);
    font-size: var(--font-liquid-medium);
  }
  .content-wrapper>div{
    font-size: var(--font-liquid-small);
  }

  .content-wrapper >div::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--secondary-color);
    opacity: 0.5;
    position: absolute;
    top: auto;
    bottom: var(--gap-small);
    right: 0;
  }

}

@media screen and (max-width: 600px){

.switch-category-slider > button{
  height: 80%;
} 

  .switch-category-slider{
    grid-template-columns: auto 80% auto;
  }

  .switch-category button{
    font-size: var(--font-liquid-medium);
    padding-right: var(--gap-liquid);
  }
  
  .switch-category > button:not(:last-child)::after {
    right: 3px;
  }
  
}