:root{
  --primary-color: #F4F2E3;
  --secondary-color: #3053A1;
  --action-color: #AA9F92;
  --font-h: "Kalnia", serif;
  --font-p: "Inter", sans-serif;
  --font-size: 16px;
  --padding-classic: 7%;
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-p);
    overflow-x:hidden;
}

body{
  position: relative;
}