:root{
  --primary-color: #F4F2E3;
  --secondary-color: #3053A1;
  --action-color: #AA9F92;
  --font-h: "Kalnia", serif;
  --font-p: "Inter", sans-serif;
  --font-size: 16px;
  --padding-classic: 7%;
  --gap-tall: 50px;
  --gap-medium: 35px;
  --gap-small: 20px;
  --font-size-big: 10.3vw;
  --font-size-medium: 5vw;
  --font-size-small: 1em;

}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-p);
    overflow-x:hidden;
}

body{
  position: relative;
}